  /* Contenedor del slideshow */
  .slideshow-container { 
    position: relative;
    max-width: 100%; /* Ajusta el ancho del contenedor según lo necesites */
    margin: auto;
  }
  
  /* Estilo de cada imagen (ocupando todo el contenedor) */
  .mySlides {
    display: none;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .mySlides.active {
    display: block;
    opacity: 1;
  }
  
  .mySlides img{
    margin: auto; 
    display: block; 
    width: 100%; 
    height: auto; 
  }
  
  /* Añade una transición para un efecto de fade */
  .mySlidefade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.2s;
    animation-name: fade;
    animation-duration: 1.1s;
  }
  
  /* Animación para el efecto de fade */
  @-webkit-keyframes fade {
    from { opacity: .4 } 
    to { opacity: 1 }
  }
  
  @keyframes fade {
    from { opacity: .4 } 
    to { opacity: 1 }
  }