:root {
  --main-color: #0A9EAD !important;
}
/* Contenedor de la imagen */
.image-container1 {
  position: relative;
  display: flex;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 14px 10px rgba(0, 0, 0, 0.2);
}

.image-container1 img {
  width: 100%;
  height: auto;
  display: block;
}

.image-container1.darkened::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Botones circulares */
.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: white;
  font-size: 12px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  transition: transform 0.3s;
  z-index: 2;
}

.circle-button:hover {
  transform: scale(1.5);
}

.circle-button.active {
  background-color: var(--main-color);
}

/* Número en la esquina de los botones circulares */
.circle-button .number-indicator {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.message-box-kpi {
  position: absolute;
  background-color: white;
  border: 2px solid var(--main-color);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  width: 250px;
  animation: slideInUp 0.3s ease-out;
}

/* Número en la esquina superior izquierda */
.message-box-kpi .tooltip-number {
  position: absolute;
  top: -10px;  /* Ajustado para estar en la parte superior */
  left: -10px; /* Ajustado para estar en la parte izquierda */
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 4; /* Asegura que el número esté encima del texto */
}


.message-box-kpi h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: var(--purple);
}

.message-box-kpi .close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  background-color: var(--main-color);
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

/* Posición de los botones circulares */
#button1-kpi { top: 5%; left: 19%; }
#button2-kpi { top: 6%; left: 77%; }
#button3-kpi { top: 48%; left: 16%; }
#button4-kpi { top: 48%; left: 47.5%; }
#button5-kpi { top: 48%; left: 78.5%; }

/* Contenedor de audio */
.audio-matriz {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

/* Adaptaciones para pantallas móviles */
@media (max-width: 768px) {
  .message-box-kpi {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 300px;
  }

  .circle-button {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }

  .image-container1 {
    margin: 0 10px;
  }
}
