:root {
    --main-color: #0A9EAD !important;
  }
  
.card-container-matriz {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.card-matriz {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.card-matriz p {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
    transition: color 0.3s ease;
}

.card-image-matriz {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
    transition: filter 0.3s ease;
}

.card-matriz:hover {
    background-color: var(--main-color);
}

.card-matriz:hover p {
    color: #ffffff;
}

.card-matriz:hover .card-image-matriz {
    filter: invert(1) brightness(2);
}

.card-matriz.active-matriz {
    background-color: var(--main-color);
}

.card-matriz.active-matriz p {
    color: #ffffff;
}

.card-matriz.active-matriz .card-image-matriz {
    filter: invert(1) brightness(2);
}

.hidden {
    display: none;
}

@media (max-width: 640px) {
    .card-container-matriz {
        max-width: 100%;
        padding: 0 15px;
    }
}